<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    <title>Postgres Health Check</title>

    <style>
        html {
            scroll-behavior: smooth;
        }

        th {
            color: white;
            font-family: amiri;
        }

        thead {
            background-color: #3d67a6;
            color: white;
        }

        td {
            font-family: 'JetBrains Mono', Courier, monospace;
        }

        h1,
        h2,
        h3 {
            font-family: amiri;
        }
    </style>

</head>

<body>
    <main>
        <div class="container-fluid py-4">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Postgres DB Health Check</h1>

                    <h3>Endpoint: [db_endpoint]</h3>
                    <h3>Database: [db_name]</h3>
                    <h3>User: [db_user]</h3>
                    <h3>Date: [rundate]</h3>

                </div>
            </div>
        </div>
    </main>

    <div class="p-5 mb-2 bg-light rounded-3">
        <h2>Queries</h2>
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    [table_of_contents_placeholder]
                </ul>
            </div>
        </div>
    </div>

    [data_placeholder]

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src=https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Courier Prime|Amiri|JetBrains Mono|Crimson Text Italic|Fira Code Retina">

    <script>
        $(document).ready(function () {
            [dynamic_tables]
        });
    </script>

</body>

</html>